.form {
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.input {
  border-radius: 5px;
  padding: 15px;
  outline: none;
  border: 3px solid hsl(246, 25%, 77%);
}
.input::placeholder {
  color: hsl(246, 25%, 77%);
  font-weight: bold;
}
.submit {
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  padding: 20px;
  background-color: hsl(154, 59%, 51%);
  box-shadow: 0px 5px 1px hsl(154, 59%, 51%);
  /* box-shadow: 3px 3px 5px 6px #ccc; */
  /* filter: drop-shadow(10px 10px 4px #ccc); */
  /* filter:drop-shadow(offset-x offset-y blur-radius color) */
}
